---
// Intro loader overlay. Behavior lives in the global script in Base.astro.
---
<div id="loader">
  <div class="loader-word">MONUMENTS</div>
  <img class="loader-logo" src="https://monuments.cc/wp-content/uploads/2023/11/Asset-22.png" alt="M">
  <div class="loader-bar-wrap">
    <div class="loader-bar" id="loader-bar"></div>
  </div>
  <div class="loader-pct" id="loader-pct">0%</div>
</div>
